/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Comforter&family=Xanh+Mono:ital@1&display=swap');

body{
    font-family: 'Ubuntu' , sans-serif !important;
    background-color: #bddce3 !important;
}
.contact-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.contact-img-big{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}